<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Modules - Smart Village System</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body class="sv-theme center">
    <div class="modules">
        <div class="buttons">
            <a class="btn primary" th:href="@{/login}">Asha Login</a>
            <a class="btn secondary" th:href="@{/admin/login}">Admin Login</a>
        </div>
        <p><a class="btn" th:href="@{/}">Back to Home</a></p>
    </div>
</body>
</html>


